@import url('https://fonts.googleapis.com/css?family=Titillium+Web:100,200,300,400,600,700,900');

@font-face {
    font-family: 'alrn_lt';
    src: url('../fonts/alrn_lt.eot');
    src: url('../fonts/alrn_lt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alrn_lt.woff') format('woff'),
		 url('../fonts/alrn_lt.woff2') format('woff2'),
         url('../fonts/alrn_lt.ttf') format('truetype'),
         url('../fonts/alrn_lt.svg#alrn_lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alrn_bd';
    src: url('../fonts/alrn_bd.eot');
    src: url('../fonts/alrn_bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alrn_bd.woff') format('woff'),
		 url('../fonts/alrn_bd.woff2') format('woff2'),
         url('../fonts/alrn_bd.ttf') format('truetype'),
         url('../fonts/alrn_bd.svg#alrn_bd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alrn_sb';
    src: url('../fonts/alrn_sb.eot');
    src: url('../fonts/alrn_sb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alrn_sb.woff') format('woff'),
		 url('../fonts/alrn_sb.woff2') format('woff2'),
         url('../fonts/alrn_sb.ttf') format('truetype'),
         url('../fonts/alrn_sb.svg#alrn_sb') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alrn_rg';
    src: url('../fonts/alrn_rg.eot');
    src: url('../fonts/alrn_rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alrn_rg.woff') format('woff'),
		 url('../fonts/alrn_rg.woff2') format('woff2'),
         url('../fonts/alrn_rg.ttf') format('truetype'),
         url('../fonts/alrn_rg.svg#alrn_rg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alrn_bk';
    src: url('../fonts/alrn_bk.eot');
    src: url('../fonts/alrn_bk.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alrn_bk.woff') format('woff'),
		 url('../fonts/alrn_bk.woff2') format('woff2'),
         url('../fonts/alrn_bk.ttf') format('truetype'),
         url('../fonts/alrn_bk.svg#alrn_bk') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alrn_hv';
    src: url('../fonts/alrn_hv.eot');
    src: url('../fonts/alrn_hv.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alrn_hv.woff') format('woff'),
		 url('../fonts/alrn_hv.woff2') format('woff2'),
         url('../fonts/alrn_hv.ttf') format('truetype'),
         url('../fonts/alrn_hv.svg#alrn_hv') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alrn_ul';
    src: url('../fonts/alrn_ul.eot');
    src: url('../fonts/alrn_ul.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alrn_ul.woff') format('woff'),
		 url('../fonts/alrn_ul.woff2') format('woff2'),
         url('../fonts/alrn_ul.ttf') format('truetype'),
         url('../fonts/alrn_ul.svg#alrn_ul') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alrn_th';
    src: url('../fonts/alrn_th.eot');
    src: url('../fonts/alrn_th.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alrn_th.woff') format('woff'),
		 url('../fonts/alrn_th.woff2') format('woff2'),
         url('../fonts/alrn_th.ttf') format('truetype'),
         url('../fonts/alrn_th.svg#alrn_th') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*******************
 *     GLOBAL     *
 *******************/

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
	font-family: 'alrn_lt', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 300;*/
	color: #666;
	text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
	border-bottom: 1px dashed #e53b30;
    outline: none;
    position: relative;
    z-index: 1;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	color: #e53b30;
}

a img {
    border: none;
}

table, h1, h2, h3, h4, h5, ul, li, form {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}


/******************
 *     COMMON     *
 ******************/

div.wrapper {
    position: relative;
    z-index: 1;
}

h2 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	position: relative;
	padding-bottom: 40px;
	display: block;
	font-size: 48px;
	color: #000;
	text-align: center;
}


h3 {
	display: block;
	font-size: 1.6vw;
	color: rgb(39,39,39);
	margin-bottom: 60px;
	display: block;
	text-align: center;
}

div.bullet {
	min-height: 1px;
	border-bottom: 1px solid rgb(229,59,48);
	float: left;
	position: relative;
	width: 6%;
	height: 24px; /*1024 display standard version*/
}

p {
	font-weight: normal;
	float: left;
	position: relative;
	text-align: left;
	padding-left: 10%;
	margin: 0px;
	clear: both;
	color: rgb(139,139,139);
	line-height: 24px; /*1024 display standard version*/
	font-size: 18px; /*1024 display standard version*/
}

div#overview, div#numbers, div#speakers, div#register, div#sponsor, div#involve, div#contact, div#footer {
	margin: 0 auto;
	position: relative;
	clear: both;
	padding-top: 175px; /*1024 display standard version*/
	width: 92%; /*1024 display standard version*/
	padding-left: 4%; /*1024 display standard version*/
	padding-right: 4%; /*1024 display standard version*/
	padding-bottom: 100px; /*1024 display standard version*/
	font-size: 18px;
	line-height: 24px;
}

.details {
	background-color: rgb(228,241,254);
	width: 80%;
	border-bottom: 10px solid rgb(204,228,253);
	clear: both;
	margin-left: 10%;
	padding: 40px 5%;
	line-height: 30px;
	color: rgb(139,139,139);
}

.details h4 {
	font-size: 35px;
	color: rgba(229,59,48,1);
	font-weight: normal;
	padding-bottom: 12px;
	display: block;
}

ul.details {
}

.details li {
	float: left;
	display: inline;
	width: 50%;
}

div.bg {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 30vw;
    width: 100%;
    background: url('../img/bg.jpg') center center no-repeat #000;
    background-size: cover;
	/*border-top: 3px solid rgb(229,59,48);*/
}

.container_half {
	float: left;
	width: 45%;
	margin-right: 5%;
	color: rgb(139,139,139);
	font-weight: normal;
	font-size: 1vw;
}

.container_half h3 {
	text-align: left;
}

.container_half img {
	width: 20%;
	margin: 0 40%;
}

.container_third {
	float: left;
	width: 30%;
	margin-right: 5%;
	color: rgb(139,139,139);
	font-weight: normal;
	font-size: 1vw;
	text-align: center;
	margin-bottom: 100px;
}

.container_third img, .container_fifth img {
	width: 60%;
}

.container_sixth img {
	width: 80%;
}

.container_third h4, .container_fourth h4, .container_half h4, .container_fifth h4, .container_sixth h4, .container_eigth h4 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	color: #111;
	display: block;
	font-size: 1.5vw;
	letter-spacing: -1px;
	text-align: center;
}

.container_fourth h4.white {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	color: rgb(39,39,39);
	display: block;
	font-size: 1.5vw;
	letter-spacing: -1px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 100px;
}

.container_third h4 {
	padding: 0px;
	margin-top: -40px;
}

.container_third h4, .container_fifth h4, .container_sixth h4, .container_eigth h4 {
	padding: 0px;
}

.container_fourth h4 {
	padding: 30px 0px 0px 0px;
	margin-bottom: 20px;
}

.container_half h4 {
	padding: 15px 0px 15px 0px;
}

.container_third ul {
	padding-left: 30px;
}

.container_half ul {
	margin: 0 25%;
}

.container_half ul {
	width: 50%;
}

.container_third li, .container_half li {
	list-style: circle;
	font-size: 1.1vw;
}

.container_fourth {
	float: left;
	width: 20%;
	margin-right: 6%;
	font-size: 1vw;
	text-align: center;
	color: #fff;
}

.container_eigth {
	float: left;
	width: 20%;
	margin-right: 6%;
	font-weight: normal;
	font-size: 1vw;
	text-align: center;
}

.container_fifth {
	float: left;
	width: 16%;
	margin-right: 5%;
	color: rgb(139,139,139);
	font-weight: normal;
	font-size: 1vw;
	text-align: center;
}

.container_sixth {
	float: left;
	width: 12%;
	margin-right: 4%;
	color: rgb(139,139,139);
	font-weight: normal;
	font-size: 1vw;
	text-align: center;
}

.container_seventh {
	float: left;
	width: 10%;
	margin-right: 4%;
	color: rgb(139,139,139);
	font-weight: normal;
	font-size: 1vw;
	text-align: center;
}

.container_fourth h4 {
	color: #fff;
	font-size: 3vw;
}

.container_eigth h4 {
	margin-top: -50px;
}
  
.container_fourth img {
	width: 35%;
	margin: 75px 32.5% 0 32.5%;
}

.container_eigth img {
	width: 60%;
	margin: 15px 20% 0 20%;
}

.container_half img.restore {
	width: 70%;
	margin: 0 15%;
}

.last {
	margin-right: 0px;
}

div.divider {
	margin: auto;
	position: relative;
	clear: both;
	width: 100%;
	height: 5vw;
	background-color: transparent;
}

/******************
 *  INTRODUCTION  *
 ******************/

div#introduction {
	margin: auto;
	position: relative;
	clear: both;
	padding-top: 6vw; /*1024 display standard version*/
	width: 92%; /*1024 display standard version*/
	padding-left: 4%; /*1024 display standard version*/
	padding-right: 4%; /*1024 display standard version*/
	height: 24vw;
	text-align: center;
	color: #FFF;
	font-size: 24px;
	background: url('../img/introduction_bg.png') bottom center repeat-x;
}

.animated1, .animated2 {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: animated;
	-moz-animation-name: animated;
	-ms-animation-name: animated;
	-o-animation-name: animated;
	animation-name: animated;
}

.animated1 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

.animated2 {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-ms-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

@-webkit-keyframes animated{
	0%{opacity:0;-webkit-transform:translateY(-50px)}
	100%{opacity:1;-webkit-transform:translateY(0)}
}

@-moz-keyframes animated{
	0%{opacity:0;-moz-transform:translateY(-50px)}
	100%{opacity:1;-moz-transform:translateY(0)}
}

@-ms-keyframes animated{
	0%{opacity:0;-ms-transform:translateY(-50px)}
	100%{opacity:1;-ms-transform:translateY(0)}
}

@-o-keyframes animated{
	0%{opacity:0;-o-transform:translateY(-50px);}
	100%{opacity:1;-o-transform:translateY(0);}
}

@keyframes animated{
	0%{opacity:0;transform:translateY(-50px)}
	100%{opacity:1;transform:translateY(0)}
}

a.toptag {
	display: none;
	width: 2.5vw;
	height: 2.5vw;
	background-color: #e53b30;
	position: absolute;
	top: 0;
	right: 4%;
}

a.toptag img {
	margin: auto;
	width: 2.2vw;
	margin-top: 0.17vw;
}

div#introduction img.logo {
	position: absolute;
	top: 10%;
	left: 4%;
	width: 14vw;
}

div#introduction h1 {
	font-family: 'alrn_lt', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 400;*/
	color: #e53b30;
	display: block;
	font-size: 36px;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

div#introduction h2 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	color: rgb(255,255,255);
	padding-bottom: 0px;
	display: block;
	font-size: 64px; /*1024 display standard version*/
	margin-top: -1vw;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

sub.oofiot {
	font-size: 45px;
}

span.iot {
	margin-left: -5px;
}

div#introduction h3 {
	font-family: 'alrn_bd', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 300;*/
	color: rgb(255,255,255);
	padding-bottom: 0px;
	display: block;
	font-size: 36px;
	margin-top: -16px;
	margin-bottom: 15px;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

div#introduction a.actionbutton {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	padding: 1% 2%;
	text-align: center;
	cursor: pointer;
	background-color: transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #FFF;
	font-size: 18px;
	margin-top: 1vw;
	font-family: 'alrn_lt', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 300;*/
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

div#introduction a.actionbutton:hover {
	color: #e53b30;
	background-color: #fff;
	border-color: #fff;
}

/******************
 *  INFORMATION   *
 ******************/

div#information {
	margin: 0 auto;
	position: relative;
	clear: both;
	padding-top: 30px; /*1024 display standard version*/
	width: 92%; /*1024 display standard version*/
	padding-left: 4%; /*1024 display standard version*/
	padding-right: 4%; /*1024 display standard version*/
	background-color: #e53b30;
	height: 95px;
	color: rgb(255,255,255);
	font-size: 20px;
}

div#information .container {
	margin: 0 auto;
	width: 1000px;
}

div#information .information_bucket {
	float: left;
	width: 50%;
	height: 64px;
}

div#information img {
	float: left;
	width: 64px;
	margin-right: 25px;
}

/*div#information .leftBucket img {
	float: right;
	width: 64px;
	margin-right: 150px;
	margin-left: 25px;
}

div#information .leftBucket {
	text-align: right;
}
*/
div#information h4 {
	color: #fff;
	font-family: 'alrn_sb', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 400;*/
	display: block;
	font-size: 24px;
	margin-top: -10px;
}

div#information h5 {
	font-family: 'alrn_lt', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 300;*/
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.information_bucket a {
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.icalendar {
	color: #bbb;
	font-size: 15px;
	background-color: #000;
	padding: 2px 15px 3px 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.icalendar:hover {
	color: #e53b30;
	background-color: #FFF;
	border: 1px solid #FFF;
}


/******************
 *      TOP       *
 ******************/

#top {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 1000;
	background: #FFF;
	height: 100px; /*1024 display standard version*/
}

header {
	margin: auto;
	position: relative;
	width: 92%; /*1024 display standard version*/
}

header h1 a {
    position: absolute;
    left: 0px;
	text-indent: -9000px;
	top: 30px;
    width: 70px;
    height: 51px;
    background: url("../img/sw_logo_color.png") no-repeat 0px -79px;
    background-size: 200px;
    border-bottom: none;
}

nav {
    position: absolute;
    right: 0px;
	top: 42px; /*1024 display standard version*/
}

nav a {
	text-transform: uppercase;
	color: #666;
	text-transform: uppercase;
	font-size: 16px;
	padding: 9px 0px;
	margin-left: 60px;
	border-bottom: 3px solid #FFF;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav a:hover {
	border-bottom: 3px solid #666;
}

nav a.link-selected {
	padding: 9px 0px; /*1024 display standard version*/
	margin-left: 60px;
	border-bottom: 3px solid #FFF;
}

#sign {
    position: absolute;
    right: 0px;
	top: 0px;
	height: 25px;
}

#sign a {
	font-size: 13px;
	padding: 5px 15px 7px 15px;
	margin: 0px;
	display: inline-block;
}

#sign a.signinlink {
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	background-color: rgb(229,59,48);
}

#sign a.signuplink {
	color: rgb(0, 0, 0);
}


/******************
 *    OVERVIEW    *
 ******************/
 
div#overview {
	background-color: rgb(245,245,245);
}

div#overview iframe {
	float: right;
	width: 560px;
	height: 315px;
	margin-left: 6%;
	margin-bottom: 6%;
}

/******************
 * BY THE NUMBERS *
 ******************/
 
div#numbers {
	background: url('../img/btn.jpg') center center no-repeat #000;
    background-size: 1920px 700px;
	height: 12vw;
}

div#numbers h2 {
	color: #fff;
}

/******************
 *     AGENDA     *
 ******************/
 
div.agenda {
	margin: 0 auto;
	position: relative;
	clear: both;
	width: 100%;
	padding-bottom: 100px;
	font-size: 20px;
	background-color: rgb(28,28,28);
	padding-top: 175px;
}

div.agenda h2 {
	color: #555;
}

div.agenda .agenda-half {
	width: 42%;
	position: relative;
	float: left;
	padding: 0px 4%;
	color: rgba(255,255,255,0.75);
}

span.agenda-day {
	font-family: 'alrn_lt', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 300;*/
	display: block;
	padding-bottom: 35px;
	font-size: 20px;
 }

span.time {
	font-family: 'Titillium', sans-serif;
	font-weight: 200;
	font-weight: normal;
	color: rgba(255,255,255,0.5);
	font-size: 24px;
}

h3.agenda-bt, div.agenda .agenda-half h3 {
	font-size: 56px;
    color: #e53b30;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	margin-bottom: -5px;
}

div.agenda .agenda-half h4 {
	text-align: center;
	padding: 0;
	margin: 0;
	padding-bottom: 40px;
	font-family: 'alrn_ul', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 300;*/
	font-size: 24px;
	letter-spacing: 1px;
	color: rgba(255,255,255,0.3);
}

div.agenda .agenda-half h5 {
	padding: 0;
	margin: 0;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
	font-family: 'alrn_ul', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 300;*/
	letter-spacing: 1px;
	font-size: 32px;
	clear: left;
	color: rgba(255,255,255,0.80);
}

div.agenda .agenda-content {
	width: 45%;
	position: relative;
	float: left;
	color: rgba(255,255,255,0.6);
	font-size: 20px;
	padding-right: 5%;
	padding-bottom: 25px;
}

div.agenda .agenda-content img {
	float: left;
	width: 20%;
	margin-right: 40px;
}

div.agenda .agenda-content h6 {
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
	font-family: 'alrn_bd', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 300;*/
	font-size: 28px;
	color: rgba(255,255,255,1.0);
}

h8.table-speaker {
	font-size: 14px;
	text-align:left;
	font-family:'alrn_lt';
	font-weight:normal;
	margin:0;
	padding:0;
	color:rgba(255,255,255,0.7);
	display: block;
}

h8.table-jobtitle {
	font-size: 12px;
	text-align:left;
	font-family:'alrn_lt';
	font-weight:normal;
	margin:0;
	padding:0;
	color:rgba(255,255,255,0.5);
	margin-bottom:5px;
	display: block;
}


div.agenda .agenda-content h6.red {
	color: #e53b30;
}

div.agenda .agenda-content h6.purple {
	color: #802462; /*863bbf;*/
}

div.agenda .agenda-content h6.fresh  {
	color: #87B527; /*1cbbb4;*/
}

div.agenda .agenda-content h6.sky {
	color: #00AEAF; /*00adef;*/
}

div.agenda .agenda-content h6.yellow {
	color: #FEC221; /*ffd000;*/
}

div.agenda .agenda-content h6.navy {
	color: #0160cd;
}

div.agenda .agenda-content h6.gold {
	color: #d6af00;
}

div.agenda .agenda-half a, div.agenda .agenda-content a {
	color: rgba(255,255,255,0.9);
	border-bottom: 1px dashed rgba(255,255,255,0.9);
}

div.agenda .agenda-half a:hover, div.agenda .agenda-content a:hover {
	color: #e53b30;
	border-bottom: 1px dashed #e53b30;
}

div.agenda .agenda-half table a.companywebsite {
	display:inline-block;
	font-size:12px;
	margin: 0;
	color: rgba(255,255,255,0.35);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-bottom: none;
}

div.agenda .agenda-half table a.presentation, div.agenda .agenda-half table a.presentation-st, div.agenda_element_title a.presentation {
	display:inline-block;
	font-size:18px;
	margin: 0;
	color: #0378ff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-bottom: none;
}

div.agenda_element_title a.presentation, div.agenda .agenda-half table a.presentation-st {
	color: #e53b30;
}

div.agenda .agenda-half img.companyicon {
	width:12px;
	float:left;
	margin:1px 5px 0px 0px;
}


div#agenda .agenda_element {
	width: 87.5%;
	position: relative;
	margin-left: 12.5%;
	clear: both;
}

.height100 {
	height: 100px;
}

.height110 {
	height: 110px;
}

.height135 {
	height: 135px;
}

.height145 {
	height: 145px;
}

.height155 {
	height: 155px;
}

.height160 {
	height: 160px;
}

.height165 {
	height: 165px;
}

.height170 {
	height: 170px;
}

.height200 {
	height: 200px;
}

.height210 {
	height: 210px;
}

.height300 {
	height: 300px;
}

.height400 {
	height: 400px;
}

.height420 {
	height: 420px;
}

.white4 {
	background-color: rgba(255,255,255,0.04);
}

.white2 {
	background-color: rgba(255,255,255,0.02);
}

div#agenda .agenda_element_time, div#agenda .agenda_element_title, div#agenda .agenda_element_speaker {
	float: left;
	padding-top: 1vw;
}

div#agenda .agenda_element_time {
	width: 8%;
	padding-left: 1%;
}

div#agenda .agenda_element_title {
	width: 61%;
	text-align: center;
}

div#agenda .agenda_element_speaker {
	width: 30%;
}

h7.agenda-bt, div#agenda .agenda_element_time h4 {
	font-weight: normal;
	font-weight: 300;
	font-family: 'Titillium', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	color: #999;
	text-align: left;
	margin-top: -10px;
	letter-spacing: -0.5px;
}

div#agenda .agenda_element_time h5 {
	font-weight: normal;
	font-size: 0.6vw;
	margin: 0;
	padding: 0.3vw 0.5vw 0.4vw 0.5vw;
	display: inline-block;
	background-color: transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e53b30;
	color: #e53b30;
}

h8.agenda-bt, div#agenda .agenda_element_title h3 {
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'alrn_ul', sans-serif;
	font-size: 28px;
	color: rgba(255,255,255,0.9);
}

div#agenda .agenda_element_time h4.fresh, div#agenda .agenda_element_title h3.fresh  {
	color: #87B527; /*1cbbb4;*/
}

div#agenda .agenda_element_speaker img {
	width: 32px;
	float: left;
	margin: 0 10px 50px 0px;
}

div#agenda .agenda_element_speaker h3 {
	font-family: 'alrn_lt', sans-serif;
	font-size: 21px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: rgba(255,255,255,0.7);
	text-align: left;
}

div#agenda .agenda_element_speaker h4 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	color: #999;
	padding-bottom: 5px;
	text-align: left;
	font-family: 'alrn_lt', sans-serif;
	color: rgba(255,255,255,0.5);
}

div#agenda .agenda_element_speaker h4 a {
	font-size: 0.9vw;
	font-weight: normal;
	color: #444;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

div#agenda .agenda_element_speaker a.speaker {
	display: inline-block;
	font-size: 15px;
	margin: 0;
	color: rgba(255,255,255,0.35);
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	border-bottom: none;
}

div#agenda .agenda_element_speaker h4 a:hover, div#agenda .agenda_element_speaker a:hover {
	color: #e53b30;
}

/******************
 *    SPEAKERS    *
 ******************/
 
div#speakers {
	background-color: #fff;
}

div#speakers div.speaker_bucket {
	clear: left;
	position: relative;
	color: #444;
	line-height: 30px;
	padding-top: 150px;
}

div#speakers div.speakerLeft {
	float: left;
	margin-right: 44px;
	text-align: center;
	padding-bottom: 100px;
}

div.speakerLeft a {
	color: #444;
	text-align: left;
	font-size: 0.8vw;
	margin-bottom: 1vw;
	border-bottom: none;
}


div#speakers h3 {
	font-family: 'alrn_ul', Helvetica, sans-serif;
	color: #0160cd;
	text-align: left;
	font-size: 36px;
	margin-bottom: 5px;
    padding-top: 15px;
}

div#speakers h4 {
	font-family: 'alrn_ul', Helvetica, sans-serif;
	color: #999;
	text-align: left;
	font-size: 24px;
}

.blue {
	color: #0160cd;
}

div#speakers h5 {
	margin-bottom: 1vw;
}

div#speakers h5 a {
	color: #444;
	text-align: left;
	font-size: 13px;
	margin-bottom: 1vw;
	border-bottom: none;
}

div#speakers div.socials {
	position: absolute;
	top: 150px;
	right: 0;
	font-size: 13px;
}

div#speakers div.socials a {
	color: rgba(1,96,205,0.2);
	font-size: 16px;
	padding-left: 2vw;
	border-bottom: none;
}

div#speakers div.socials a:hover {
	color: rgba(1,96,205,1.0);
}

div#speakers div.speech {
	text-align: left;
	background-color: #FAFAFA;
	padding: 25px 25px 25px 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	margin-left: 300px;
	font-size: 16px;
}

div#speakers div.speech h5 {
	color: #444;
	font-size: 24px;
	margin-bottom: 0;
}

div#speakers div.speech h6 {
	color: #666;
	margin: 0;
	padding-left: 37px;
	margin-bottom: 1vw;
	font-size: 13px;
}

/******************
 *    REGISTER    *
 ******************/
 
div#register {
	background-color: rgba(28,28,28,0.75);
	text-align: center;
	line-height: 35px;
}

div#register h3 {
	color: #fff;
	margin: 0;
	padding: 0;
	padding-bottom: 2.5vw;
	padding-top: 1.5vw;
	font-family: 'alrn_rg', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 300;*/
	font-weight: normal;
}

div#register a, div#involve a {
	color: #fff;
	text-transform: uppercase;
	padding: 1% 2%;
	text-align: center;
	cursor: pointer;
	background-color: #e53b30;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e53b30;
	font-size: 18px;
	font-family: 'alrn_lt', sans-serif;
	/*font-family: 'Titillium', sans-serif;
	font-weight: 300;*/
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/******************
 *   SPONSOR   *
 ******************/
 
div#sponsor {
	background-color: #fff;
}

div#sponsor h3 {
	color: #e53b30;
}


/******************
 *     INVOLVE    *
 ******************/
 
div#involve {
	background-color: rgb(245,245,245);
}


/******************
 *    LOCATION    *
 ******************/

div#map {
	margin: 0 auto;
	position: relative;
	clear: both;
	padding-top: 102px;
	width: 100%;
	background-color: rgb(245,245,245);
}

div#location {
	width: 100%;
	height: 150px;
	overflow: hidden;
	padding-top: 65px;
}

/******************
 *    CONTACT     *
 ******************/
 
div#contact {
	background-color: rgb(28,28,28);
	color: rgb(255,255,255);
	padding-top: 35px;
}

div#contact h2 {
	color: #666;
}

div#contact img {
	float: left;
	margin: 0 3vw 2vw 0;
	width: 10vw;
}

div.actor {
	position: relative;
	float: left;
	width: 45%;
	padding-right: 5%;
	font-size: 18px;
	color: rgba(255,255,255,0.65);
}

div.actor h5 {
	font-size: 24px;
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: rgba(255,255,255,1.0);
}

div.actor h6 {
	font-size: 18px;
	margin: 0;
	padding: 0;
	color: #ccc;
	padding-bottom: 15px;
	font-weight: 300;
}

div.actor h6 a {
	color: #e53b30;
	border-bottom: none;
	font-size: 18px;
}

div.actor a {
	color: #888;
	border-bottom: none;
}

div.actor a.red:hover, div.actor i.red {
	color: #e53b30;
}

div.actor h6 a:hover, div#contact a:hover {
	color: #fff;
}

/******************
 *     FOOTER     *
 ******************/
 
div#footer {
	background-color: #000;
	color: #666;
	height: 1vw;
	font-size: 1vw;
	text-align: center;
	padding-top: 2vw;
	padding-bottom: 2vw;
	margin: 0;
}

div#footer img {
	float: left;
	width: 10vw;
	opacity: 0.25;
}

/******************
 *   RESPONSIVE   *
 ******************/
/*
@media (min-width: 1240px) {
	#top {
		height: 130px;}
	header {
		width: 80%;
		height: 130px;}
	header h1 a {
		top: 28px;
		width: 270px;
		height: 64px;
		background: url("../img/sierra-wireless_airvantage_logo.png") no-repeat 0px 0px;}
	nav {
		top: 73px;}
	nav a, nav a.link-selected {
		font-size: 15px;
		padding: 9px 30px;}
	#sign a {
		font-size: 13px;
		padding: 5px 20px 7px 20px;}
	div#offers, div#features, div#developers, div#enterprises, div#contact {
		padding-left: 10%;
		padding-right: 10%;
		width: 80%;
		padding-bottom: 100px;}
	div#offers, div#features, div#developers, div#enterprises, div#contact {
		padding-top: 220px;
		width: 80%;}
	iframe.video {
		width: 560px;
		height: 315px;}
	a.getstarted {
		height: 60px;
		padding: 15px;
		font-size: 23px;}
	div#offers {
		height: 800px;}
	div#features {
		height: 800px;}
	div#developers {
		height: 800px;}
	div#enterprises {
		height: 800px;}
	div#contact {
		height: 1400px;}
	h2 {
		font-size: 50px;}
	h3 {
		font-size: 30px;}
	div.bullet {
		height: 31px;}
	p {
		line-height: 30px;
		font-size: 23px;}
	.feature {
		font-size: 15px;
		line-height: 20px;
		margin-top: 118px;
		margin-bottom: 70px;}
	.offer {
		font-size: 15px;
		line-height: 20px;
		margin-top: 22px;
		margin-bottom: 70px;}
	.offer p {
		padding-top: 75px;}
	a.btn {
		height: 60px;
		padding: 15px;
		font-size: 23px;}
	a.link {
		font-size: 11px;}
	.testicon, .white {
		font-size: 80px;
		-moz-border-radius: 80px;
		-webkit-border-radius: 80px;
		border-radius: 80px;
		padding: 32px 36px 28px 40px;}
	.feature h4 {
		padding-bottom: 35px;
		font-size: 23px;
		padding-top: 81px;}
	.offer h4 {
		padding-bottom: 105px;
		font-size: 30px;}

@media (min-width: 960px) and (max-width: 1240px) {
	#top {
		height: 105px;}
	header {
		width: 92%;
		height: 105px;}
	header h1 a {
		top: 22px;
		width: 216px;
		height: 51px;
		background: url("../img/sierra-wireless_airvantage_logo.png") no-repeat -270px 0px;}
	nav {
		top: 53px;}
	nav a, nav a.link-selected {
		font-size: 13px;
		padding: 9px 24px;}
	#sign a {
		font-size: 11px;
		padding: 5px 15px 7px 15px;}
	div#introduction, div#offers div#features, div#developers, div#enterprises, div#contact {
		width: 92%;
		padding-left: 4%;
		padding-right: 4%;
		padding-bottom: 80px;}
	div#offers, div#features, div#developers, div#enterprises, div#contact {
		padding-top: 175px;}
	div#introduction {
		padding-top: 80px;
		height: 685px;
		font-size: 18px;}
	iframe.video {
		width: 400px;
		height: 230px;}
	a.getstarted {
		height: 48px;
		padding: 12px;
		font-size: 18px;}
	div#offers {
		height: 640px;}
	div#features {
		height: 640px;}
	div#developers {
		height: 640px;}
	div#contact {
		height: 1120px;}
	h2 {
		font-size: 40px;}
	h3 {
		font-size: 24px;}
	div.bullet {
		height: 24px;}
	p {
		line-height: 24px;
		font-size: 18px;}
	.feature {
		font-size: 13px;
		line-height: 20px;
		margin-top: 94px;
		margin-bottom: 56px;}
	.offer {
		font-size: 13px;
		line-height: 20px;
		margin-top: 94px;
		margin-bottom: 56px;}
	.offer p {
		padding-top: 55px;}
	a.btn {
		height: 48px;
		padding: 12px;
		font-size: 18px;}
	a.link {
		font-size: 10px;}
	.testicon, .white {
		font-size: 64px;
		-moz-border-radius: 64px;
		-webkit-border-radius: 64px;
		border-radius: 64px;
		padding: 27px 32px 24px 34px;}
	.feature h4 {
		padding-bottom: 15px;
		padding-top: 55px;
		font-size: 18px;}
	.offer h4 {
		font-size: 18px;
		padding-bottom: 55px;
		font-size: 23px;
		padding-top: 55px;}

@media (min-width: 480px) and (max-width: 960px) {
	#top {
		height: 105px;}
	header {
		width: 92%;
		height: 105px;}
	header h1 a {
		top: 22px;
		width: 216px;
		height: 51px;
		background: url("../img/sierra-wireless_airvantage_logo.png") no-repeat -270px 0px;}
	nav {
		top: 55px;}
	nav a, nav a.link-selected {
		font-size: 13px;
		padding: 9px 30px;}
	#sign a {
		font-size: 11px;
		padding: 5px 15px 7px 15px;}
	div#introduction, div#offers div#features, div#developers, div#enterprises, div#contact {
		width: 92%;
		padding-left: 4%;
		padding-right: 4%;
		padding-bottom: 80px;}
	div#offers, div#features, div#developers, div#enterprises, div#contact {
		padding-top: 175px;}
	div#introduction {
		padding-top: 80px;
		height: 685px;
		font-size: 18px;}
	iframe.video {
		width: 400px;
		height: 230px;}
	a.getstarted {
		height: 48px;
		padding: 12px;
		font-size: 18px;}
	div#offers {
		height: 640px;}
	div#features {
		height: 640px;}
	div#developers {
		height: 640px;}
	div#contact {
		height: 1120px;}
	h2 {
		font-size: 40px;}
	h3 {
		font-size: 24px;}
	div.bullet {
		height: 24px;}
	p {
		line-height: 24px;
		font-size: 18px;}
	.feature {
		font-size: 13px;
		line-height: 20px;
		margin-top: 94px;
		margin-bottom: 56px;}
	.offer {
		font-size: 13px;
		line-height: 20px;
		margin-top: 94px;
		margin-bottom: 56px;}
	.testicon, .white {
		font-size: 64px;
		-moz-border-radius: 64px;
		-webkit-border-radius: 64px;
		border-radius: 64px;
		padding: 27px 32px 24px 34px;}
	.feature h4, .offer h4 {
		padding-bottom: 28px;
		font-size: 18px;
		padding-top: 72px;}
	.offer h4 {
		padding-bottom: 85px;
		font-size: 23px;}*/